
Task 1/.ipynb_checkpoints/apriori-checkpoint.ipynb
Task 1/.ipynb_checkpoints/apriori-checkpoint.py
Task 1/.ipynb_checkpoints/improved_apriori-checkpoint.py
Task 2/.ipynb_checkpoints/task2_anime-checkpoint.ipynb
Task 1/__pycache__/improved_apriori.cpython-311.pyc
Task 2/dataset/Dataset_User_Agreement.pdf
Task 2/dataset/yelp_academic_dataset_user.json
Task 2/dataset/yelp_academic_dataset_tip.json
Task 2/dataset/yelp_academic_dataset_review.json
Task 2/dataset/yelp_academic_dataset_review.csv
Task 2/dataset/yelp_academic_dataset_checkin.json
Task 2/dataset/yelp_academic_dataset_business.json
Task 2/dataset/processed_yelp_output_shuffled.txt
Task 2/dataset/processed_yelp_output.txt
Task 2/.ipynb_checkpoints/task2_yelp-checkpoint.ipynb
Task 2/.ipynb_checkpoints/task2_steam-checkpoint.ipynb
Task 2/.ipynb_checkpoints/task2_books-checkpoint.ipynb
Task 2/dataset/books_data.csv
Task 2/dataset/Books_rating.csv
Task 2/dataset/processed_book_output.txt
Task 2/dataset/processed_book_output_shuffled.txt
Task 2/books_frequent_itemsets.txt
Task 2/books_frequent_itemsets.txt
Task 2/dataset/books_frequent_itemsets.csv
Task 2/books_frequent_itemsets.txt
Task 2/dataset/books_frequent_itemsets.txt
Task 3/.ipynb_checkpoints/task3_hierachal-checkpoint.ipynb
Task 3/.ipynb_checkpoints/task3_kmeans-checkpoint.ipynb
